version: '3.9'

services:
  db:
    image: mysql:8.1
    container_name: new_mindset_db
    environment:
    MYSQL_ROOT_PASSWORD: ${-MYSQL_ROOT_PASSWORD: -rootpassword}
    MYSQL_DATABASE: new_mindset
    MYSQL_USER: ${MYSQL_USER: -user}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
    volumes:
﻿﻿      - db_data:/var/Lib/mysql
    ports:
﻿﻿      -  "3306:3306"
    healthcheck:
    test: ["CMD","mysqladmin", "ping", "-h", "Localhost"]
    interval: 10s
    timeout: 5s
    retries: 5
web:
  image: dios222/medcopreg: ${IMAGE_TAG:-latest}
  container_name: new_mindset
  restart: always
  depends_on:
    db:
      condition: service_healthy
    ports:
﻿﻿      - "5000:5000"
    environment:
﻿﻿      - FLASK_ENV=production
﻿﻿      - DATABASE_URL=mysql+pymysal://S{MYSQL_USER:-user}:${MYSQL_PASSWORD:>
 volumes:
   db_data:
